@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
}
.main-5{
    width: 100%;
    font-family: Roboto;
    background-color: yellow;
}
/*.mydiv-5{
    width:100%;
    background-color: aquamarine;
}*/
.gray-div-5{
    height: 750px;
    background-color: #EFEFEF;
}
.gray-box-5{
    width:83%;
   margin: auto;
    padding-top: 50px;

}
.h-two-5{
    font-family:roboto slab;
    font-size: 55px;
    margin-bottom: 50px;
}
.boxw-5{
    width: 700px;
    height: 400px;
    padding: 40px;
    background-color:white;
    box-shadow: 1px 1px 8px 3px rgb(195 192 183);
    border-radius: 20px;
    
}
.boxw-b-right-5{
    margin-left: 50px;
}
.boxw-text-5{
    line-height: 150%;
    font-family: roboto;
    font-size: 20px;
}
.boxw-bottom-5{
    margin-top: 55px;
    display: flex;
    align-items: center;
}
.h-three-5{
    font-family: roboto slab;
    font-size: 30px;
    margin-bottom: 20px;
}
/*  ** BLUE DIV-5 STYLE  ***/
.blue-div-5{
    width: 100%;
    height: 750px;
    background-color: #9DC9C8;
}
.blue-box-5{
    width: 83%;
   
    margin: auto;
    padding-top: 160px;
}
.paragraph-5{
    font-size: 25px;
    margin:0px;
}
.paragraph-rub-5{
    margin-bottom: 80px;
    font-size: 75px;
    margin-top:0px;
}
.blue-bottom-5{
    display: flex;
    font-size: 18px;
    padding-bottom:50px;
}
.blue-b-lr-5{
    width: 245px;
    margin-right: 55px;
}
/*  ** FOOTER DIV-5 STYLE  ***/
.footer-5{
    height: 290px;
    padding-top: 60px;
    background-color: black;
    color: white;
}
.footer-box-5{
    width: 83%;
    margin: auto;
    
}
.footer-lr-5{
    width: 1172px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.footer-logolar-5{
margin-top: 20px;
}
.footer-logolar-5 img{
    margin-right: 10px;
}
.footer-right-5{
    margin-right: 15%;
    font-size: 20px;
}
.footer-img-span-5{
    margin-bottom: 7px;
}
/*  ************************************ MEDIA SCREEN  ********************************************/
@media screen and (min-width:992px) and (max-width:1279px){
    .gray-box-5{
        width:83%;
        padding: 80px 0 80px 0;
    }
    .gray-div-5{

        height: 700px;
    }
    .h-two-5{
        font-size:43px;
    }
    .boxw-5{
        width: 600px;
    }
    .boxw-bottom-5{
        margin-top: 35px;
    }
    .boxw-text-5 {
            font-size: 17px;
    }
    .boxw-5{
        height: 350px;
    }
    .fb-img-5{
        width:25px;
    }
    .h-three-5 {
        font-size: 25px;
    }
     .blue-box-5 {
        width: 83%;
        height: 650px;
        padding: 110px 0 90px 0;
    } 
    .blue-div-5{
        height: 650px;
    }

    .paragraph-5{
        font-size: 20px;
    }  
    .paragraph-rub-5{
        font-size: 65px;
    }
    .blue-bottom-5{
        font-size: 15px;
    }
    .footer-lr-5 {
        width: 100%;
        margin-right: 0;
    }
    .footer-right-5 {
        margin-right: 0;
        font-size: 16px;
    }
}

@media screen and (min-width:0px) and (max-width:991px){
    .footer-lr-5 {
        display: block;
    }
}

@media screen and (min-width:670px) and (max-width:991px){
    .gray-box-5{
        width: 83%;
        margin: 0 auto;
    }
    .h-two-5{
        font-size: 38px;
    }
    .boxw-5{
        width: 90%;
        padding: 20px;
    }
    .boxw-text-5 {
        font-size: 2.3vw;
    }
    .girl-image-5{
        width: 150px;
    }
    .fb-img-5{
        width:30px;
    }
    .h-three-5 {
        font-size: 23px;
    } 
    .blue-box-5 {
        padding-top: 65px;
        width: 83%;
        margin: 0 auto;
    }
    .paragraph-5 {
        font-size: 12px;
    }
    .paragraph-rub-5 {
        font-size: 37px;
    }
     .footer-box-5 {
        width: 83%;
        padding: 50px 0 6px 0px;
        margin: -65px auto;
    }
    .footer-box-5 img{
        width: 20px;
    }
    .footer-lr-5 {
        width:100%;
        margin-bottom: 50px;
    }
    .footer-left-5{
        margin-bottom: 50px;
    }    
    .footer-right-5{
        font-size: 14px;
    }
    .whitext-class-5{
        width: 95px !important;
    }
    .blue-div-5{
        height: auto;
    }
}

@media screen and (min-width:461px) and (max-width:669px){
    .h-three-5{
        width: 105%;
    }
    .gray-box-5{
        width: 83%;
        margin: 0 auto;
    }
    .h-two-5{
        font-size: 35px;
    }
    .boxw-5{
      
        width: 90%;
        padding: 20px;
    }
    .boxw-text-5 {
        font-size: 2.5vw;
    }
    .girl-image-5{
        width: 150px;
    }.h-three-5 {
        font-size: 14px;
    }
    .blue-box-5 {
        padding-top: 65px;
        width: 83%;
        margin: 0 auto;
    } 
    .paragraph-5 {
        font-size: 12px;
    }
    .paragraph-rub-5 {
        font-size: 37px;
    }
    .blue-bottom-5{
        font-size: 10px;
    }
    .footer-box-5 {
        width: 83%;
        padding: 50px 0 6px 0px;
        margin: -65px auto;
    }
    .whitext-class-5 {
        width: 95px !important;
    }
    .footer-left-5  img{
        width: 20px;
    }
   
    .footer-lr-5 {
        width:100%;
        margin-bottom: 50px;
    }
    .footer-left-5{
        margin-bottom: 50px;
    }
    .footer-right-5 span{
        font-size: 12px;
    }
    .son-setir-5{
        font-size: 14px;
    }
    .boxw-b-right-5{
        margin-left: 0;
    }
    .blue-div-5{
        height: auto;
    }
}

@media screen and (min-width:320px) and (max-width:460px){
    .girl-image-5{
        margin-left: -20px;
        height: 110px;
        width: 150px
    }
    .gray-box-5{
        width: 83%;
        margin: 0 auto;
    }
    .h-three-5{
        width: 118%;
    }
    .boxw-5{
        height: 350px;
        width: 90%;
        padding: 20px;
    }
    .h-two-5{
        font-size: 35px;
    }
    .boxw-text-5 {
        font-size: 13px;
    }
    .girl-image-5{
        width: 150px;
    }
    .h-three-5 {
        font-size: 14px;
    } 
    .blue-box-5 {
        padding-top: 65px;
    width: 83%;
    margin: 0 auto;
    } 
    .boxw-bottom-5{
        margin-top: 20px;
    }
    .paragraph-5 {
        font-size: 20px;
    }
    .paragraph-rub-5 {
        margin-bottom: 50px;
        font-size: 37px;
    }
    .blue-bottom-5{
        font-size: 10px;
    }
    .footer-box-5 {
        width: 83%;
        padding: 50px 0 6px 0px;
        margin: -65px auto;
    }

    .photo1{
        width: 20px;
    }
    .blue-b-lr-5 p{
        width: 160%;
        font-size: 4vw;
    }
    .footer-lr-5 {
        width:100%;
        margin-bottom: 50px;
    }
    .footer-left-5{
        margin-bottom: 50px;
    }
    .footer-right-5 span{
        font-size: 12px;
    }
    .son-setir-5{
    font-size: 12px;
    }
    .gray-div-5{
        height: 650px;
    }
    .boxw-b-right-5{
        margin-left: -10px
    }
    .blue-div-5{
        height: auto;
    }
    .whitext-class-5{
        width: 100px;
    }
}

/* -------------------------------- Zameddin --------------------------- */
.main-4{
    
  width: 100%;
    margin-top: 190px;
    margin-bottom: 121px;
}
 
    


.head-4{
    width: 83%;
height: 93px;
margin: auto;
   
    margin-bottom: 95px;
    
color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}

.table1-4{
    
    width: 31%;
    height: 144px;
height: 308px;
    margin-right: 25px;
    margin-bottom: 35px;

border-radius: 30px;
background: #FFF;

box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
}
.tables-4 {
   display: flex;
   flex-wrap: wrap;
 
    margin: 0 auto;
}


.table1-4 img{
    
    width: 100%;
    height: auto;
}

.headtext-4{
   margin: 11px 14px 0 18px;
    width: 365px;
height: 39px;
color: #000;
font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
.text-4{
    margin: 17px 15px 23px 17px;
color: #000;
font-family: Roboto;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 130%;
width: 365px;
height: 63px;
}
.dif-4{
    line-height: 97%

}


@media screen and (min-width: 992px) and (max-width: 1279px){
    .main-4{
        margin: 0 0 50px 0;
    }
    .head-4{
        width: 83%;
margin: 70px auto;
margin-top: 0;
        height: 53.863px;
        
       
    font-size: 43px;
    
    }
   
    
    .table1-4{
        width: 30%;
        height: 38vh;
        margin-right: 21.43px;
        margin-bottom: 23.75px;
    
        border-radius: 21px;
    
    
        box-shadow: 0.57917px 0.57917px 8.6875px 0px rgba(0, 0, 0, 0.25);

    
    }
    .table1-4 img{
        width: 100%;
height: auto;
    }
    .headtext-4{
        margin: 6.37px 8.11px 0 11.58px;
        width: 211.396px;
        height: 22.587px;
        font-size: 17px;
     }
     .text-4{
         margin: 18.53px 8.69px 13.32px 11px;
     font-size: 14px;
     width: 211.396px;
height: 36.488px;
     }
}

@media screen and (min-width: 992px) and (max-width: 1190px){
    .text-4{
        margin-top: 39px;
    }
}


@media screen and (min-width: 320px) and (max-width: 450px){
  .headtext-4{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%;
margin: 5px 14px 0 10px;
width: 170.08px;
    

  }
  .dif-4{
    height: 33.084px;
    line-height: 97%
  }
  .text-4{
    width: 232px;
    color: #000;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%;
margin-top: -3px;
margin-left: 11px;
  }

.wrapper{
    width: 100%;
    margin: 0 auto;
}
.table1-4 img{
    width: 100%;
height: 74px;
}

   .tables-4{
    flex-direction: column;
    align-items: center;
   }
    .table1-4{
    
        width: 185px;
    height: 152px;
      
    
    
    background: #FFF;
    border-radius: 13.979px;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
}
.head-4{
    font-size: 26px;
    margin-bottom: -8px;
    margin-left: 10%;
}
}
@media screen and (min-width: 451px) and (max-width: 800px){
    .headtext-4{
      color: #000;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin: 5px 14px 0 14px;
  width: 253px;
      
  
    }
    .dif-4{
      height: 33.084px;
      line-height: 97%
    }
    .text-4{
      color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 8px;
  margin-left: 17px;
    }
  
  .wrapper{
      width: 100%;
      margin: 0 auto;
  }
  .table1-4 img{
      width: 100%;
  height: 140px;
  }
  
     .tables-4{
      flex-direction: column;
      align-items: center;
     }
      .table1-4{
      
          width: 350px;
      height: 250px;
        
      
      
      background: #FFF;
      border-radius: 24.979px;
      box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
  }
  .head-4{
      font-size: 40px;
      margin-bottom: 11px;
      margin-left: 13%;
  }
  }
  @media screen and (min-width: 801px) and (max-width: 991px){
    .headtext-4{
        color: #000;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 5px 14px 0 14px;
    width: 253px;
        
    
      }
      .dif-4{
        height: 33.084px;
        line-height: 97%
      }
      .text-4{
        color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: 17px;
    margin-left: 17px;
      }
    
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .table1-4 img{
        width: 100%;
    height: 149px;
    }
    
       .tables-4{
        flex-direction: column;
        align-items: center;
       }
        .table1-4{
        
            width: 370px;
        height: 270px;
          
        
        
        background: #FFF;
        border-radius: 24.979px;
        box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    }
    .head-4{
        width: 50%;
        font-size: 32px;
        margin-bottom: 11px;
        margin-left: 30%;
    }
  }

/* ------------------------------------ Emiliya ----------------------------- */

.main-1 {
    width: 100%;
}
.container-1{
    width: 83%;
    margin: 0 auto;
}
.all-1 {
    
    margin: auto ;
}

.headtext1-1 {
 width : 667px;
 height : 93px;
 font-size: 55px;
 font-style: normal;
 line-height: 101.385%;
 font-weight: 700;
 flex-shrink : 0;
 font-family: 'Roboto Slab', serif;
 margin-bottom: 25px;
 margin-top: 178px; 
}

h6.root1-1 {
 width: 150px;
 height: 39px;
 color: #1E4681;
 font-family: Roboto;
 font-size: 25px;
 font-style: normal;
 font-weight: 700;
 line-height: 130%;
 margin-left: 0px;
 margin-top: 51px;
 margin-right: 10px;
 margin-bottom: 0px;
}
h6.root2-1 {
 width: 200px;
 height: 22.587px;
 color: #1E4681;
 font-family: Roboto;
 font-size: 25px;
 font-style: normal;
 font-weight: 700;
 line-height: 130%;
 margin-top: 51px;
 margin-right: 0px;
 margin-bottom: 15px;

}
h6.root3-1 {
 width: 86.875px;
 height: 22.587px;
 flex-shrink: 0;
 color: #1E4681;
 font-family: Roboto;
 font-size: 25px;
 font-style: normal;
 font-weight: 700;
 line-height: 130%;
 margin-top: 51px;
 margin-bottom: 15px;
}
.text1-1 {
 width: 223px;
 height: 55px;
 flex-shrink: 0;
 color: #000;
 font-family: Roboto;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 130%;
 margin-top: 0.83px;
 margin-left: 0px;

}
.text2-1 {
 width: 271px;
 height: 55px;
 flex-shrink: 0;
 color: #000;
 font-family: Roboto;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 130%; 
 margin-top: 0.83px;

}
.text3-1 {
 width: 245px;
 height: 40px;
 flex-shrink: 0;
 color: #000;
 font-family: Roboto;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 130%;


}
div.garden {
    display: flex;
    justify-content: space-between;
    width: 760px;
   
    margin-right: 20px;
}
.tree1-1{
    margin-right: 120px;
    width: 223px;
}
.tree2-1 {
    margin-right: 120px;
    width: 271px;
}
.tree3-1 {
    margin-right: 120px;
    width: 245px;
}

.headtext2-1 {
 width : 662px;
 height : 80px;
 font-size: 55px;
 font-style: normal;
 font-weight: 700;
 line-height: 101.385%;
 flex-shrink : 0;
 font-family: 'Roboto Slab', serif;
 margin-left: 0px;
 margin-top: 20px;
 margin-bottom: 30px;

}
.list-1 {
 width: 662px;
 height: 530px;
 
 margin-top: 170px;
 margin-right: 20px;
 color: #000;
 font-family: Roboto;
 font-size: 24px;
 font-style: normal;
 font-weight: 400;
 line-height: 150%; 
 
}
ul.ul-1 {
    margin-top: 0px;
    padding-left: 30px;
}
@media screen and (min-width: 992px)  and (max-width: 1279px ) {
    
    .headtext1-1 {
        font-size: 43px;
        width: 500px;
        height: 30px;
        margin-bottom: 40px;
        margin-left: 0px;
        margin-top: 145px;
    }
    .headtext2-1 {
        font-size: 43px;
  
        height: 30px;
        margin-bottom: 50px;
    
    }
    h6.root1-1 {
        font-size: 21px;
        margin-top: 50px;
        margin-bottom: 10px;
        height: 20px;
    }
    h6.root2-1 {
        font-size: 21px;
        margin-top: 50px;
        height: 15px;
    }
    h6.root3-1 {
        font-size: 21px;
        margin-top: 50px;
        height: 15px;
    }
    ul.ul-1 {
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
    }
    .text1-1 {
        font-size: 15px;
        width: 194px;
    }

    
    .text2-1 {
        font-size: 15px;
        width: 232px;
    }
    .text3-1{
        font-size: 15px;
    }
    div.garden{
        
        width: 600px;
        
    
    }
    .list-1 {
        font-size: 12px;
      
        margin-top: 150px;
        width: 400px;
    
    }
    .tree1-1{
        margin-right: 80px;
        width: 223px;
    }
    .tree2-1 {
        margin-right: 80px;
        width: 271px;
    }
    .tree3-1 {
        margin-right: 80px;
        width: 245px;
    }
}


@media screen and (min-width: 450px)  and (max-width: 991px) {
  .ul-1{
    font-size: 20px;
  }


  .ul-1 li{
    margin-bottom: 10px;
  }
    .headtext1-1 {
        margin-top: 30%;
        font-size: 8vw;
        width: 100%;
        height: 30px;
        margin-bottom: 15%;
        margin-left: 5px;
    }
    .headtext2-1 {
        font-size: 7vw;
        margin-left: 10px;
        height: 30px;
        margin-bottom: 85px;
        width: 104%;
    
    }
    h6.root1-1 {
        width: 130%;
        font-size: 4vw;
        margin-top: 40px;
        height: 20px;
    }
    h6.root2-1 {
        width: 130%;
        font-size: 4vw;
        margin-top: 10%;
        margin-bottom: 0;
        height: 15px;
    }
    h6.root3-1 {
        margin-bottom: 0;
        width: 130%;
        font-size: 4vw;
        margin-top: 10%;
        height: 15px;
    }
    .text1-1 {
        margin-top: 15%;
        font-size: 2vw;
    width: 151%

    }
    .text2-1 {
        margin-top: 15%;
        font-size: 2vw;
    width: 135%
    }
    .text3-1{
        margin-top: 15%;
        font-size: 2vw;
        width: 151%
    }
    div.garden{
        width: 260px;
        flex-direction: column;
        margin-left: 40px;
    
    }
    .list-1 {
        font-size: 14px;
        margin-left: 0;
        margin-top: 60px;
        width: 400px;
    
    }

    
}


@media screen and (min-width: 320px)  and (max-width: 449px) {
   .tree2-1{
    width: 235px;
   }
    .headtext1-1 {
        margin-top: 30%;
        font-size: 8vw;
        width: 100%;
        height: 30px;
        margin-bottom: 0;
        margin-left: 5px;
    }
    .headtext2-1 {
        font-size: 7vw;
        margin-left: 10px;
        height: 30px;
        margin-bottom: 40px;
        width: 210px;
    
    }
    h6.root1-1 {
        font-size: 4vw;
        margin-top: 40px;
        height: 20px;
    }
    h6.root2-1 {
        margin-bottom: 0;
        font-size: 4vw;
        margin-top: 7%;
        height: 15px;
    }
    h6.root3-1 {
        margin-bottom: 0;
        font-size: 4vw;
        margin-top: 7%;
        height: 15px;
    }
    .text1-1 {
        font-size: 13px;
        width: 200px;

    }
    .text2-1 {
        font-size: 13px;
        width: 100%;
    }
    .text3-1{
        font-size: 13px;
    }
    div.garden{
        width: 250px;
        flex-direction: column;
        margin-left: 40px;
    }
    .list-1 {
        font-size: 15px;
        margin-left: 0;
        margin-top: 60px;
        width: 250px;
        height: 300px;
    
    }

    .ul-1{
        margin-left: -20px;
        width: 100%;
    }
.ul-1 li{

}
}


/* ----------------------------------- Elvin --------------------------------- */


.main-3{
    width: 83%;
    margin: 0 auto;
}

.box2-3{

margin: 0 auto;
display: flex;
justify-content: space-between;

}
.basliq1-3{
    margin-top: 110px;
    margin-bottom: 25px;
color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-weight: 700;
}

.text1-3{
color: #000;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
width: 662px;
height: 374px;

}

.img3-3{
left: 50px;
right: 200px;
}

.box1-3{
  
    width: 100%;
}




.img-3{
    width: 350px;
height: 330px;
padding-top: 80px;
margin-left: 30%;
}

.box4-3{
    margin-right: 10%; display: inline-block;
    margin-top: 8%;
}


.img2-3{
width: 232px;
height: 203px;
}

.box5-3{
    display: inline-block; 
    
}

.basliq2-3{
width: 150px;
height: 39px;
color: #000;
font-family: Roboto;
font-size: 25px;
font-weight: 700;
}

.text2-3{
margin-top: -25px; 
display: inline-block;
color: #000;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
width: 150px;
height: 39px;
margin-top: 5px;
}

.box7-3{
    display: flex;
    margin-top: 40px;
}

.basliq3-3{
width: 150px;
height: 39px;
color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 32.5px */
}

.text3-3{
width: 150px;
height: 39px;
color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 23.4px */
margin-top: -25px; 
display: inline-block;
margin-top: 5px;
}

.basliq4-3{
width: 150px;
height: 39px;
color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 32.5px */    
}

.text4-3{
width: 150px;
height: 39px;
color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 23.4px */  
margin-top: 5px;   
}

.box6-3{
    display: inline-block;
    margin-left: 12%;
    margin-top: 45px;
}

.box8-3{
    display: inline-block;
    margin-left: 8%;
    margin-top: 45px;
}

.box9-3{
    display: inline-block;
    margin-left: 10%;
    margin-top: 45px;
}

.box10-3{
    display: flex;
    width: 100%;
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
    .basliq1-3{
        margin-top: 65px;
        width: 200px;
        height: 53.863px;
        font-size: 43px;
        margin-bottom: 45px;
    }

    .text1-3{
        width: 530px;
        height: 216.608px;
        font-size: 20px;
    }
    

    .img-3{
        width: 314px;
        height: 270px;
        margin-top: 6%;
        margin-left: 20%;
    }
    

    .img2-3{
        width: 170px;
        height: 170px;
    }

    .basliq2-3{
        width: 130.875px;
        height: 22.587px;
        font-size: 20px;
    } 
    

    .text2-3{
        width: 143.875px;
    height: 22.587px;
    font-size: 17px;
    padding-top: 0;
    }

    .basliq3-3{
        width: 86.875px;
        height: 22.587px;
        font-size: 20px;
    }

    .text3-3{
        width: 132px;
        height: 23px;
        font-size: 15px;
    } 
    


    .basliq4-3{
        width: 86.875px;
    height: 22.587px;
    font-size: 20px;  
    }

    .text4-3{
        width: 86.875px;
    height: 22.587px;
    font-size: 17px;
    }

    .box6-3{
        padding-left: 3%;
    }

    .box8-3{
        padding-left: 4%;
    }

    .box9-3{
        padding-left: -7%;
    }
    .box7-3{
        align-items: center;
    }

}


@media screen and (min-width: 320px) and (max-width: 991px) {
    .basliq1-3{
        margin-top: 15%;
    width: 100%;
    height: 7vh;
    font-size: 9vw;
    }
    .box1-3{
        margin: 0;
    }
    .box7-3{
        margin-top: 0;
    }
    .text1-3{
        margin-top: 15%;
    width: 100%;
    height: 50%;
    font-size: 3.2vw;
    }
    
    .img-3{
       
        margin-top: 30%;
    width: 167%;
    height: auto;
    display: inline-block;
    }
    
   .box4-3{
    padding-right: 50%;
  
    display: inline-block;
    margin-left: 8%;
    margin-top: -20%;
   }
    .img2-3{
        display: none;
    }
    
    .basliq2-3{
        margin-bottom: 10%;
        width: 100%;
        height: 18.173px;
        font-size: 3vw;   
    }
    
    .text2-3{
        width: 100%;
        height: 18px;
        font-size: 2vw; 
        
    }
    
    .basliq3-3{
        margin-bottom: 10%;
        width: 100%;
        height: 18.173px;
        font-size: 3vw;       
    }
    
    .text3-3{
        width: 100%;
        height: 18.505px;
        font-size: 2vw;
     
    }
    
    .basliq4-3{
        margin-bottom: 7%;
        width: 100%;
        height: 18.173px;
        font-size: 3vw;
    }
    .box3-3{
        margin: 0;
    }
    .text4-3{
        width: 100%;
        height: 18px;
        font-size: 2vw;
       
    }
    
    .box2-3{
        flex-direction: column;
    }
    

    .box10-3{
        display: flex;
        flex-wrap: wrap;
        width: 98%;
    }
    .box6-3{
        margin-bottom: 5%;
        margin-right: 25%;
        margin-left: 0;
    }

    .box9-3{
        height: 50px;
    width: 60%;
    margin-top: 20px;
    margin-left: 0;
    }  
    
    .box8-3{
        margin-left: 38px;
    }
}
   
/*------------------------------ Mirvari ------------------------------------------ */
        
        

        
*{
    margin: 0px;
    padding: 0px;
 }
.header-2{
  width: 83%;
    margin: 0 auto;
}
 .topfoto-2{
    margin-top: 20px;
    width: 112px;
 }
.prg-2{
  font-size: 20px;
  margin: 16px 25px 16px 10px;
  font-family: 'Roboto', sans-serif;
}
.prg1-2{
    margin-top: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
   width: 414px;
     font-size: 25px;
     font-style: normal;
     font-weight: 400;
     width: 530px;
}
.section-2{
    margin-top:67px;
    margin-left: 20%;
    width: 497px;
    height: 200px;
    border-radius: 5px;
  
}
.text-2{
    width: 430px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: #FFF;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      padding: 19px 27px 0px;
      margin: 0px;
}
.text1-2{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0px;
   
}
.navbar-2{
    display: flex;
    margin-top: 97px;
}
.div-2{
    display: flex;
    /* justify-content: space-between; */
}
.noroot-2{
    
    width: 304px;
}
.h1-2{
  
    font-family: 'Roboto Slab', serif;
    width: 628px;
    font-size: 80px;
}

.div1-2{
    margin-left: 160px;
 
}
.div-section-2{
    border-radius: 5px;
    background: #1E4681;
    width: 105%;
}
 


@media screen and ( min-width:991px) and (max-width:1279px){
*{
    margin: 0px;
    padding: 0px;
}
.header-2{
    width: 83%;
    margin: auto;
     
  }
   .topfoto-2{
      width: 64px;
      margin-top: 22px;
    
   }
  .prg-2{
    font-size: 17px;
    margin: 0 25px 0 8px;
    font-family: 'Roboto', sans-serif;
  }
  .prg1-2{
      color: #000;
      font-family: 'Roboto', sans-serif;
       width: 340px;
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       
  }
  .globe,.calendar,.saat{
    width: 17px;
    
  }
  .section-2{
      margin:  67px auto;
      width: 56%;
      height: 125px;
      border-radius: 5px;
      
  }
  .text-2{
      width: 84%;
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: #FFF;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        padding: 19px 27px 0px;
        margin: 0px;
  }
  .text1-2{
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      text-align: right;
      padding-right: 10px;
      padding-bottom: 10px;
      margin: 0px;
     
  }
  .navbar-2{
      display: flex;
      margin-top: 50px;
  }
  .div-2{
      display: flex;
      /* justify-content: space-between; */
  }
  .noroot-2{
      
      width: 250px;
  }
  .h1-2{
      margin-top:0;
      font-family: 'Roboto Slab', serif;
      width: 475px;
      font-size: 65px;
  }
  .ellipse-2{
      width: 158px;
      position: absolute;
      top: 199px;
      left: 30px;
      z-index: -1;
      
  }
  .div1-2{
      margin-left: 20%;
   
  }
  .div-section-2{
    border-radius: 5px;
    background: #1E4681;
    width: 66%;
  }
}

@media screen and (min-width: 320px) and (max-width:991px){
*{
    margin: 0px;
    padding: 0px;
}
.noroot-2{
    margin-left: 160%;
    width: 100%;
}
.header-2{
    width: 83%;
      margin: 0 auto;
  }
   .topfoto-2{
      width: 20%;
      margin-top: 36px;
    margin-bottom: 7%;
   }
  .prg-2{
    font-size: 2.5vw;
    
    margin: 20px 20px 20px 5px;
   
    font-family: 'Roboto', sans-serif;
  }
  .prg1-2{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    width: 80%;
  }
  .globe,.calendar,.saat{
    width: 3%;
    margin-bottom: 2px;
  }
  .section-2{
   margin: 0;
      width: 100%;
      height: 125px;
   
      
  }
  .text-2{
      width: 100%;
      font-family: 'Roboto Slab', serif;
      font-size: 2vw;
      color: #FFF;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        padding: 14px 12px 0px;
        margin: 0px;
  }
  .text1-2{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: right;
    padding: 10px 5px;
    margin-top: 0px;
     
  }
  .navbar-2{
   margin-top: 0;
      display: flex;
      
  }
  .div-2{
    margin-top: -15px;
    flex-direction: column;
    width: 95%;
     
  }
  
  .h1-2{
      
    font-family: 'Roboto Slab', serif;
    width: 85%;
    font-size: 7vw;

  }
  .ellipse-2{
      width: 116px;
      position: absolute;
      top: 108px;
      left: 61px;
      z-index: -1;
      
  }
  .div1-2{
    width: 40%;
      margin-left: 0;
      position: relative;

  }
  .div-section-2{
    margin-left: 10%;
    height: auto;
    background: #1E4681;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 100px

  }
}

